.operating-system10,
.os-child9 {
  position: absolute;
  width: 100%;
  left: 0;
}
.os-child9 {
  height: 71.83%;
  top: 0;
  right: 0;
  bottom: 28.17%;
  border-radius: var(--br-lgi);
  background: linear-gradient(
    180deg,
    rgba(69, 88, 255, 0.7),
    rgba(137, 4, 199, 0.47)
  );
  box-shadow: 8px 8px 20px 2px rgba(0, 0, 0, 0.8);
}
.operating-system10 {
  height: 19.37%;
  top: 80.63%;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.opened-book-icon44 {
  position: absolute;
  height: 86.47%;
  width: 104.54%;
  top: -3.41%;
  right: -6.94%;
  bottom: 16.95%;
  left: 2.4%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.de-child10,
.os12 {
  position: absolute;
  height: 100%;
  width: 37%;
  top: 0;
  right: 63%;
  bottom: 0;
  left: 0;
}
.de-child10 {
  height: 76.98%;
  width: 100%;
  right: 0;
  bottom: 23.02%;
  border-radius: var(--br-lgi);
  background: linear-gradient(
    180deg,
    rgba(69, 88, 255, 0.7),
    rgba(137, 4, 199, 0.47)
  );
  box-shadow: 8px 8px 20px 2px rgba(0, 0, 0, 0.8);
}
.digital10 {
  margin: 0;
}
.digital-electronics10 {
  position: absolute;
  height: 13.58%;
  width: 100%;
  top: 86.42%;
  left: 0;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.opened-book-icon45 {
  position: absolute;
  height: 92.66%;
  width: 104.54%;
  top: -3.66%;
  right: -6.94%;
  bottom: 10.99%;
  left: 2.4%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.de12,
.row9 {
  position: absolute;
  height: 93.31%;
  width: 37%;
  top: 1.41%;
  right: 0;
  bottom: 5.28%;
  left: 63%;
}
.row9 {
  height: 19.21%;
  width: 32.14%;
  top: 69.82%;
  right: 57.3%;
  bottom: 10.97%;
  left: 10.56%;
}
.opened-book-icon46 {
  position: absolute;
  height: 86.47%;
  width: 103.85%;
  top: -3.41%;
  right: -6.41%;
  bottom: 16.95%;
  left: 2.56%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.os13 {
  position: absolute;
  height: 100%;
  width: 16.37%;
  top: 0;
  right: 83.63%;
  bottom: 0;
  left: 0;
}
.opened-book-icon47 {
  position: absolute;
  height: 92.66%;
  width: 103.85%;
  top: -3.66%;
  right: -6.41%;
  bottom: 10.99%;
  left: 2.56%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.de13 {
  right: 55.75%;
  left: 27.88%;
}
.de13,
.dsa10,
.m-410,
.row10 {
  position: absolute;
  height: 93.31%;
  width: 16.37%;
  top: 1.41%;
  bottom: 5.28%;
}
.m-410 {
  right: 27.88%;
  left: 55.75%;
  font-family: var(--font-inter);
}
.dsa10,
.row10 {
  right: 0;
  left: 83.63%;
}
.row10 {
  height: 19.21%;
  width: 75.63%;
  top: 38.52%;
  right: 13.89%;
  bottom: 42.27%;
  left: 10.49%;
}
.opened-book-icon50,
.opened-book-icon51,
.opened-book-icon52 {
  position: absolute;
  height: 86.47%;
  width: 103.69%;
  top: -3.41%;
  right: -6.29%;
  bottom: 16.95%;
  left: 2.6%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.opened-book-icon51,
.opened-book-icon52 {
  height: 92.66%;
  top: -3.66%;
  bottom: 10.99%;
}
.opened-book-icon52 {
  right: -6.28%;
}
.more6,
.row11 {
  position: absolute;
}
.row11 {
  height: 19.21%;
  width: 76.39%;
  top: 10.4%;
  right: 13.85%;
  bottom: 70.38%;
  left: 9.76%;
}
.more6 {
  height: 1.83%;
  width: 5.98%;
  top: 87.16%;
  left: 46.67%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.1em;
  font-weight: 300;
  display: inline-block;
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
}
.nav-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-thistle);
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.1);
  width: 1440px;
  height: 70px;
}
.gate-pyqs1 {
  position: absolute;
  height: 82.86%;
  width: 27.78%;
  top: 8.57%;
  left: 9.03%;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  text-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
}
.gate-pyqs,
.nav3 {
  width: 100%;
  overflow: hidden;
}
.nav3 {
  position: absolute;
  height: 6.56%;
  top: 0;
  right: 0;
  bottom: 93.44%;
  left: 0;
  font-size: var(--font-size-17xl);
}
.gate-pyqs {
  position: relative;
  background-color: var(--color-white);
  height: 1067px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
